.image{
    border-radius: 10px;
  /* background: #fff8f3; */
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("resources/Vectorrr.png");
  width: 1000px;
  height: 200px;
  margin: 100px auto;
  padding: 50px;
  background-position: center;
  background-size: cover;
}