* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 1100px;
  height: 600px;
  margin: 20px auto;
}
/* banner style */
.banner {
  width: 1100px;
  height: 500px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url("resources/Banner\ Image.png");
  padding: 60px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 50px 0;
}

.sub-text {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-top: 60px;
}
.title-text {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
/* offer section style */
.offer {
  text-align: center;
}
.offer-title {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 40px;
}
.description {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.shoet-description {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.offer img {
  width: 500px;
  margin-top: 45px;
}

/* party section style */
.party-sec {
  width: 1100px;
  height: 500px;
  margin: 50px auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.2)
    ),
    url("resources/Vectorrr.png");
  margin: 50px 0;
  padding: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.party-sec img {
  margin: 40px;
}
.party-sec p {
  color: rgba(255, 255, 255, 0.8);
}

.party-text h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.party-des {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.party-text button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  border: none;
  margin: 40px;
}
/* vanue style */
.vanue {
  width: 1100px;
  height: 500px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding-top: 10%;
  border-radius: 10px;
  text-align: center;
}
.vanue h3 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}
.vanue span {
  color: #f00;
}
.vanue button {
  margin-top: 30px;
  border-radius: 10px;
}
/* coming-soon style section */
.coming-soon {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coming-left {
  width: 30%;
}
.coming-middle {
  width: 50%;
}
.coming-middle img {
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 30px;
}
.coming-right {
  width: 20%;
}
.coming-right h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
/* holiday section style */
.holiday {
  text-align: center;
  margin: 10px 250px;
}
.holiday h3 {
  color: #070211;
}
.holiday h1 {
  color: #f00;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
span {
  color: #070211;
}
.holiday p {
  color: rgba(7, 2, 17, 0.6);
}
/* discount part style */
.Discount {
  width: 1100px;
  height: 500px;
  background-image: url("resources/Rectangle 2.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 80px auto;
  position: relative;
}
.girl-img {
  width: 30%;
  height: 309px;
  float: right;
}
.box {
  position: absolute;
  width: 50%;
  margin-left: 60px;
  bottom: 30px;
}
.fifty {
  width: 20%;
  position: absolute;
  right: 20%;
  top: 7%;
}
/* portfolio images */
.shoet-description {
  font-family: Merriweather;
}
.para {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.p-img {
  width: 32%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.p-img:hover{
  transform: scale(1.2);
}
/* newsletter style */
.newsletter h1,
p {
  margin: 20px 0 10px 0;
}

.newsletter {
  text-align: center;
  width: 1100px;
  height: 500px;
  margin: 50px auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px;
}
input {
  padding: 20px 60px 20px 30px;
  border-radius: 50px 0 0 50px;
  border: 1px solid #fff;
  border-right: none;
  font-family: Inter;
  font-size: 16px;
}
button {
  padding: 19px 30px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: 1px solid #f00;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* footer style */

footer {
  background-color: #070211;
  padding: 60px;
  margin: 0px -126px;
}
.inner-part {
  margin: 50px 90px;
}
.inner-part h4 {
  color: #fff;
}
.icons {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.icons a {
  margin: 10px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
