* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* banner style */
.banner {
  width: 100%;
}
.banner-img {
  position: relative;
}
img {
  height: 80%;
  width: 80%;
  margin: 50px 140px;
}
.banner-text {
  position: absolute;
  top: 30%;
  left: 30%;
}
.sub-text {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.title-text {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
/* offer section style */
.offer {
  text-align: center;
}
.offer-title {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 40px;
}
.description {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.shoet-description {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.offer img {
  width: 500px;
}
