* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}
/* banner style */
.banner {
  width: 100%;
}
.banner-img {
  position: relative;
}
img {
  height: 80%;
  width: 80%;
  margin: 50px 140px;
}
.banner-text {
  position: absolute;
  top: 30%;
  left: 30%;
}
.sub-text {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.title-text {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
